
<!doctype html>
<html>

<div class= 'container'>
   <div class="nom-etab rounded">
       <h2>Etablissement <%= @etablissement.nom %></h2>
   </div>
</div>

<div class="container">
    <div class="row">
        <div class="col etab-container rounded">
            <%= @etablissement.mail %>
        </div>

        <div class="col etab-nav-right rounded">
            <%= @etablissement.telephone %>
        </div>

        <div class="col etab-nav-right rounded">
            <%= @etablissement.adress %>
        </div>

        <div class="col etab-nav-right rounded">
            <%= @etablissement.description %>
        </div>

        <div class="col etab-nav-right rounded">
            <%= @etablissement.category %>
        </div>

        <a href="<%= @etablissement.dossier_a_fournir %>">Voir la version en PDF </a>
    </div>
</div>
</html>